@charset 'UTF-8';

body {
  background-color: gainsboro;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.screen {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.splitScreen .screen {
  width: 50%;
}

.splitScreen .screen + .screen {
  left: auto;
  right: 0px;
}

.screen .centralPixel {
  position: absolute;
  left: 50%;
  top: 50%;
}

.miniMap {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  margin-left: -100px;
}

.track {
  position: absolute;
}

.track canvas {
  transform: scale(1, -1);
}

.headupdisplay {
  /*border: 2px solid gainsboro;*/
  width: 100%;
  padding: 10px;
  background-color: gainsboro;
  position: absolute;
  text-align: center;
}

.headupdisplay label {
  display: inline-block;
  text-align: right;
  padding-right: 5px;
  padding-left: 10px;
}

.headupdisplay input {
  width: 60px;
  text-align: center;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

.car {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 5px;
}

.paused {
  background-color: black;
}
.dummy {
  position: absolute;
  top: -30px;
}
